<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home | ZoomChat2Subtitle</title>
</head>
<body>
  <h1>Upload file here</h1>
  <form action="" method="post" enctype="multipart/form-data">
    <input type="file" name="file">
    <button type="submit">Submit</button>

    {% if download_link %}
      <a href="/download">Download Hasil</a>
    {% endif%}
  </form>
</body>
</html>