<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home | ZoomChat2Subtitle</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
  <section class="h-screen" style="background-color: #2D8CFF;">
    <div class="container flex flex-col items-center px-4 py-12 mx-auto xl:flex-row">
      <div class="flex justify-center xl:w-1/2">
        <img class="h-80 w-80 sm:w-[28rem] sm:h-[28rem] flex-shrink-0 object-cover rounded-lg"
          src="https://images.unsplash.com/photo-1551650975-87deedd944c3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80"
          alt="">
      </div>

      <div class="flex flex-col items-center mt-6 xl:items-start xl:w-1/2 xl:mt-0">
        <h2 class="text-3xl font-bold tracking-tight text-gray-800 xl:text-4xl dark:text-white">
          Convert Saved Zoom Chat into Subtitle File
        </h2>

        <p class="block max-w-2xl mt-4 text-xl text-gray-500 dark:text-gray-200">After having a Zoom session, you will
          get txt file contains your participant's chats. You can convert it into subtitle file (srt) so that your
          recorded zoom session can be replayed along with the participant's chat as a subtitle.
        </p>

        <div class="mt-6 sm:-mx-2">

          <div class="inline-flex w-full mt-4 overflow-hidden rounded-lg shadow sm:w-auto sm:mx-2 sm:mt-0">
            <a href="#convert_file"
              class="inline-flex items-center justify-center w-full px-5 py-3 text-base font-medium text-white transition-colors duration-150 transform sm:w-auto bg-gradient-to-r from-blue-700 to-blue-900 hover:from-blue-600 hover:to-blue-600">
              <span class="mx-2">
                Convert Now
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="convert_file" class="h-screen flex items-center justify-center bg-gray-100">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        {{ message }}
      {% endfor %}
    {% endif %}
  {% endwith %}
    <form class="flex items-center space-x-6" method="post" enctype="multipart/form-data" action="#convert_file">
      <label class="block border border-gray-500 border-dotted px-5 py-2 rounded-lg" for="file-input">
        <span class="sr-only">Choose File</span>
        <input type="file" id="file-input" accept=".txt" name="file"
          class="block w-full text-sm text-gray-500 file:mr-4 file:py-2 file:px-4 file:rounded-full file:border-0 file:text-sm file:font-semibold file:bg-blue-50 file:text-blue-700 hover:file:bg-blue-100" />
      </label>


      
      {% if download_link %}
      <a class="inline-flex items-center justify-center w-full px-5 py-3 text-base font-medium text-white transition-colors duration-150 transform sm:w-auto bg-gradient-to-r from-blue-700 to-blue-900 hover:from-blue-600 hover:to-blue-600 rounded-lg"
      href="/download">Download Hasil</a>

      {% else %}<button
        class="inline-flex items-center justify-center w-full px-5 py-3 text-base font-medium text-white transition-colors duration-150 transform sm:w-auto bg-gradient-to-r from-blue-700 to-blue-900 hover:from-blue-600 hover:to-blue-600 rounded-lg"
        type="submit">Convert to Subtitle</button>
      {% endif%}

    </form>
  </section>
</body>

</html>